.chat__container {
  width: 100% !important;
  height: 100% !important;
}

.room-chat {
  max-height: 50vh !important;
}

.offer-button {
  flex-grow: 0.25 !important;
}

.chat-scroll {
  float: left;
  clear: both;
}
