.avatar-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editable > img {
  cursor: pointer;
  border-top: 4px dashed rgb(153, 153, 153);
  border: 4px dashed rgb(153, 153, 153);
  border-radius: 10px;
  padding: 1rem;
}

.editable:hover > img {
  border-color: rgb(187, 187, 187, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

@media (max-width:768px)  {
  .editable > img {
    align-self: center;
    margin: 1vh 1vw;
  }
}
