.shops--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shops {
  min-height: 20%;
  height: 88.5%;
  height: auto;
  overflow: auto;
}

@media (min-width:768px)  {
  .shops {
    min-height: 20%;
    max-height: 80%;
    height: auto;
    overflow: auto;
  }
}
