.shop-container {
  width: 100% !important;
  height: 100% !important;
  overflow: auto;
}

.edit-shop-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  bottom: 100px;
  left: 0;
}

.pay--menu {
    display: flex;
    position: absolute;
    transform: translateX(250px);
}
