.product--menu {
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
}

.product--image {
  width: 50%;
  align-self: center;
}

.product-container {
  display: flex;
  width: 100% !important;
  height: 100% !important;
}

.edit-product-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  bottom: 100px;
  left: 0;
}

@media (min-width:768px)  {

  .product--image {
    width: 100%;
    align-self: center;
  }

  .product-container {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
  }
}
