.product--menu {
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
}

.product--image {
  width: 50%;
  align-self: center;
}

.product--container {
  min-height: 20%;
  height: 88.5%;
  height: auto;
  overflow: auto;
  width: 100%;
}

@media (min-width:768px)  {

  .product--image {
    width: 100%;
    align-self: center;
  }

  .product--container {
    min-width: 30%;
    max-width: 75%;
    width: auto;
  }
}
