doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Shop, Chat, Stuff')
    meta(name='og:title' content='Kuwau: The Shop Chat')
    meta(name='og:description' content='Shop, Chat, Stuff')
    meta(name='og:image' content='images/logo/kuwau-logo-100.png')
    link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon-16x16.png')
    link(rel='manifest' href='manifest.json')
    meta(name='theme-color' content='#ffffff')
    link(rel='shortcut icon' href='favicon.ico')
    title Kuwau
    meta(name='keywords' content=' shop, chat, message, custom, submit ')
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='stylesheet' href='main.css')
  body
    #root
    script(src='https://js.stripe.com/v2/')
    script(src='app.js')
